#glyph:hover {
    text-decoration: none;
    background-color: black;
    border-radius: 7%;
    color: grey;
}

#glyph {
    text-decoration: none;
    background-color: gray;
    border-radius: 7%;
    color: black;
}
