{% extends "form.html" %}
{% block title %} - Add new Story{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block logic %} - Add new Story{% endblock %}

{% block business_value %}
<input type="number"  id="business_value" name="business_value" min="100" max="1500" step="100" value="100">
{% endblock %}

{% block estimation %}
<input type="number"  id="estimation" name="estimation" min="0.5" max="40" step="0.5"  value="0.5">
{% endblock %}

{% block content %}
<input type="submit" name="logic" id="create" value="Create">
{% endblock %}
