{% extends "form.html" %}

{% block title %} - Add new Story{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block logic %} - Add new Story{% endblock %}


{% block business_value %}
    <input type="number" class="form-control" id="business_value" name="business_value" min="100" max="1500" step="100"
           value="100">
{% endblock %}

{% block estimation %}
    <input type="number" class="form-control" id="estimation" name="estimation" min="0.5" max="40" step="0.5"
           value="0.5">
{% endblock %}

{% block content %}


    <button type="submit" name="logic" id="create" class="btn btn-default" value="Create" data-toggle="tooltip"
            title="When finished, create the new user story and save it to the database.">Create <span
            class="glyphicon glyphicon-ok"></span></button>
{% endblock %}

{% block status %}
    {% for n in options %}
        <option id="status" name=n>{{ n }}</option>
    {% endfor %}
{% endblock %}
