<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>User Story Manager {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
        <body>

        <h1>User Story Manager{% block logic %}{% endblock %}</h1>
            <form action="" method="post">
                <fieldset>
                     <p><label for="story_title" id="story_title" name="story_title">Story Title</label></p>
                <div id="story_title">
                            <textarea id="story_title" name="story_title" rows="1" cols="50" style="resize:none">{% block story_title %}{% endblock %}</textarea></div>
                        <p><label for="user_story" id="user_story" name="user_story">User Story</label></p>
                            <textarea id="user_story" name="user_story" rows="4" cols="50">{% block user_story %}{% endblock %}</textarea>
                        <p><label for="acceptance_criteria" id="acceptance_criteria" name="acceptance_criteria">Acceptance Criteria</label></p>
                            <textarea id="acceptance_criteria" name="acceptance_criteria" rows="4" cols="50">{% block criteria %}{% endblock %}</textarea>
                        <p><label for="business_value" id="business_value" name="business_value">Business Value</label></p>
                            <input type="number"  id="business_value" name="business_value" min="100" max="1500" step="100" value="100">
                            <!--input type="range"  name="business_value" min="100" max="1500" step="100" value="100"-->
                        <p><label for="estimation" id="estimation" name="estimation">Estimation</label></p>
                            <input type="number"  id="estimation" name="estimation" min="0.5" max="40" step="0.5" value="0.5">
                        <p><label for="status" id="status" name="status">Status</label></p>
                            <select name="status" id="status">
                                <option value="Planning" id="planning" name="planning">Planning</option>
                                <option value="To do" id="to_do" name="to_do">To Do</option>
                                <option value="In progress" id="in_progress" name="in_progress">In Progress</option>
                                <option value="Review" id="review" name="review">Review</option>
                                <option value="Done" id="done" name="done">Done</option>
                            </select>
                    <br>
                    <br>
                    <div id="content">{% block content %}{% endblock %}</div>

                </fieldset>
            </form>
        </body>
</html>