{% extends "form.html" %}

{% block title %} - Edit Story{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block logic %} - Edit Story{% endblock %}


{% block story_title %}
    {{ edit_story.story_title }}
{% endblock %}

{% block user_story %}
    {{ edit_story.user_story }}
{% endblock %}

{% block criteria %}
    {{ edit_story.acceptance_criteria }}
{% endblock %}

{% block business_value %}
    <input type="number" class="form-control" id="business_value" name="business_value" min="100" max="1500" step="100"
           value={{ edit_story.business_value }}>
{% endblock %}

{% block estimation %}
    <input type="number" class="form-control" id="estimation" name="estimation" min="0.5" max="40" step="0.5"
           value={{ edit_story.estimation }}>
{% endblock %}

{% block status %}
    <option id="status" name="status" selected>{{ edit_story.status }}</option>
    {% for n in options %}
        <option id="status" name=n>{{ n }}</option>
    {% endfor %}
{% endblock %}


{% block content %}
    <button type="submit" name="logic" id="update" class="btn btn-info" value="Update" data-toggle="tooltip"
            title="When finished with the editing, save the updated user story to the database.">Update <span
            class="glyphicon glyphicon-ok"></span></button>


    <a href="{{ url_for('delete_user_story', story_id=edit_story.id) }}">
        <button type="button" class="btn btn-danger" name="delete" id="delete" data-toggle="tooltip"
                title="Delete user story from the database.">Delete <span
                class="glyphicon glyphicon-remove"></span></button>
    </a>

{% endblock %}
