{% extends "form.html" %}

{% block title %} - Edit Story{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block logic %} - Edit Story{% endblock %}


{% block story_title %}
{{edit_story.story_title}}
{% endblock %}

{% block user_story %}
{{ edit_story.user_story }}
{% endblock %}

{% block criteria %}
{{edit_story.acceptance_criteria}}
{% endblock %}

{% block business_value %}
<input type="number"  id="business_value" name="business_value" min="100" max="1500" step="100" value={{edit_story.business_value}}>
{% endblock %}

{% block estimation %}
<input type="number"  id="estimation" name="estimation" min="0.5" max="40" step="0.5"  value={{edit_story.estimation}}>
{% endblock %}

{% block status %}
    <option id="status" name="status" selected>{{edit_story.status}}</option>
    {% for n in options %}
        <option id="status" name=n>{{n}}</option>
    {% endfor %}
{% endblock %}


{% block content %}
<input type="submit" name="logic" id="update" value="Update">
{% endblock %}
